menuconfig EEPROM
	tristate "EEPROM Support"
	depends on OF
	select REGMAP
	help
	  Support for EEPROM alike devices.

	  This framework is designed to provide a generic interface to EEPROM
	  from both the Linux Kernel and the userspace.

	  If unsure, say no.
