config COMMON_CLK_HI3660
	bool "Hi3660 Clock Driver"
	depends on ARCH_HISI || COMPILE_TEST
	default ARCH_HISI
	help
	  Build the Hisilicon Hi3660 clock driver based on the common clock framework.

config COMMON_CLK_HI6220
	bool "Hi6220 Clock Driver"
	depends on ARCH_HISI || COMPILE_TEST
	default ARCH_HISI
	help
	  Build the Hisilicon Hi6220 clock driver based on the common clock framework.

config STUB_CLK_HI6220
	bool "Hi6220 Stub Clock Driver"
	depends on COMMON_CLK_HI6220 && MAILBOX
	help
	  Build the Hisilicon Hi6220 stub clock driver.

config STUB_CLK_HI3660
	bool "Hi3660 Stub Clock Driver"
	depends on COMMON_CLK_HI3660 && MAILBOX
	help
	  Build the Hisilicon Hi3660 stub clock driver.
