// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Device Tree file for S32G274ARDB Board Rev C.
 *
 * Copyright 2020-2021 NXP
 *
 */

/dts-v1/;
#include "fsl-s32g274a-rdb.dtsi"
/ {
	model = "Freescale S32G274";
	compatible = "fsl,s32g274-simu", "fsl,s32g274",
				 "arm,vexpress,v2p-aarch64", "arm,vexpress";
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_gmac0_rgmii_a &pinctrl0_gmac0_mdio_a>;
	phy-mode = "rgmii";
	status = "okay";
	/* Connected to KSZ9031 MDIO_A */
	phy-handle = <&mdio_a_phy1>;
};

&pfe_logif1 {
	phy-handle = <&mdio_a_phy3>;
};

&pfe_emac1 {
	phy-mode = "sgmii";
};


&gmac0_mdio {
	/* KSZ9031 GMAC */
	mdio_a_phy1: ethernet-phy@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		max-speed = <1000>;
		reg = <1>;
	};
	/* ARQ107 */
	mdio_a_phy3: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c45";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <3>;
	};
};

&pfe_mdio2 {
	/* AR8035 */
	mdio_b_phy4: ethernet-phy@4 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <4>;
	};
	/* SJA1110's phys: 0x09-0x0e */
};

&i2c0 {
	pcal6524: gpio-expander@22 {
		compatible = "nxp,pcal6524";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	rtc@51 {
		compatible = "nxp,pca85073a";
		reg = <0x51>;
		nxp,no-battery;
	};
};

&spi5 {
	/* 1 hardware cs and 1 gpio cs*/
	spi-num-chipselects = <1>;
	cs-gpios = <0>,<&gpio0 30 0>;

	sja1110-uc@0 {
		compatible = "nxp,sja1110-uc";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
		reg = <0>;
	};

	sja1110-sw@1 {
		compatible = "nxp,sja1110-switch";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
		reg = <1>;
	};
};

&llce_can10 {
	status = "okay";
};

&llce_can11 {
	status = "okay";
};

&llce_can13 {
	status = "okay";
};
