// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "fsl-s32v234-campps32v2.dtsi"

/ {
	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&fec {
	phy-mode = "rgmii-txid";
	status = "okay";

	fixed-link {
		speed=<1000>;
		full-duplex;
	};

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@3 {
			reg = <3>;
		};
	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dspi0>;
	status = "okay";

	sja1105q@0 {
		compatible = "nxp,sja1105q";
		spi-max-frequency = <0x3D0900>;
		spi-cpha;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
		reg = <0>;

		dsa,member = < 0 0 >;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			sw0_p0: port@0 {
				label = "sw0-p0";
				phy-mode = "rgmii-txid";
				reg = <0>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@1 {
				label = "sw0-p1";
				phy-handle = <&phy0>;
				phy-mode = "rgmii-id";
				reg = <1>;
			};

			port@2 {
				label = "sw0-p2";
				phy-mode = "rgmii-txid";
				ethernet = <&fec>;
				reg = <2>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@3 {
				label = "sw0-p3";
				phy-mode = "rgmii-txid";
				reg = <3>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@4 {
				label = "sw0-p4";
				phy-mode = "rgmii-txid";
				reg = <4>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};

	sja1105q@1 {
		compatible = "nxp,sja1105q";
		spi-max-frequency = <0x3D0900>;
		spi-cpha;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;
		reg = <1>;

		dsa,member = < 1 0 >;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			sw1_p0: port@0 {
				label = "sw1-p0";
				phy-mode = "rgmii-txid";
				ethernet = <&sw0_p0>;
				reg = <0>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@1 {
				label = "sw1-p1";
				phy-mode = "rgmii-txid";
				reg = <1>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@2 {
				label = "sw1-p2";
				phy-mode = "rgmii-txid";
				reg = <2>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@3 {
				label = "sw1-p3";
				phy-mode = "rgmii-txid";
				reg = <3>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@4 {
				label = "sw1-p4";
				phy-mode = "rgmii-txid";
				reg = <4>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};
};
