// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Device Tree file for S32G274ARDB Board Rev B.
 *
 * Copyright 2020-2021 NXP
 *
 */

/dts-v1/;
#include "fsl-s32g274a-rdb.dtsi"
/ {
	model = "Freescale S32G274";
	compatible = "fsl,s32g274-simu", "fsl,s32g274",
				 "arm,vexpress,v2p-aarch64", "arm,vexpress";
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_gmac0_rgmii_a>;
	phy-mode = "rgmii";
	status = "okay";
	/* direct connect to SJA1105Q P0 */
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&gmac0_mdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_gmac0_mdio_a>;
	/* TJA1102 over SJA1105Q P1 */
	mdio_a_phy4: ethernet-phy@4 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <4>;
		max-speed = <100>;
	};
	/* TJA1102 over SJA1105Q P2 */
	mdio_a_phy5: ethernet-phy@5 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;
		max-speed = <100>;
	};
	/* TJA1102 over SJA1105Q P3 */
	mdio_a_phy6: ethernet-phy@6 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <6>;
		max-speed = <100>;
	};
	/* TJA1102 over SJA1105Q P4 */
	mdio_a_phy7: ethernet-phy@7 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <7>;
		max-speed = <100>;
	};
};

&pfe_mdio2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_pfe2_mdio_b>;
	/* AR8035 */
	mdio_b_phy1: ethernet-phy@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;
	};
	/* AR8035 */
	mdio_b_phy2: ethernet-phy@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <2>;
	};
	/* KSZ9031RNX */
	mdio_b_phy4: ethernet-phy@4 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <4>;
	};

	/* SJA1110's phys: 0x09-0x0e */
};

&spi1 {
	#address-cells = <1>;
	#size-cells = <0>;

	sja1105p@0 {
		compatible = "nxp,sja1105p-switch";
		spi-max-frequency = <0x3D0900>;
		spi-cpha;
		fsl,spi-cs-sck-delay = <100>;
		fsl,spi-sck-cs-delay = <100>;

		reg = <0>;
		port-0 {
			is-host = <0x1>;
			null-phy = <0x1>;
			phy-ref = < 0 >;
			rx-delay = < 810 >;
			tx-delay = < 810 >;
		};
		port-1 {
			is-host = <0x0>;
			null-phy = <0x0>;
			phy-ref = <&mdio_a_phy4>;
		};
		port-2 {
			is-host = <0x0>;
			null-phy = <0x0>;
			phy-ref = <&mdio_a_phy5>;
		};
		port-3 {
			is-host = <0x0>;
			null-phy = <0x0>;
			phy-ref = <&mdio_a_phy6>;
		};
		port-4 {
			is-host = <0x0>;
			null-phy = <0x0>;
			phy-ref = <&mdio_a_phy7>;
		};
	};
};

&spi5 {
	spidev0: sja1110@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <4000000>;
		reg = <0>;
	};
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_can2>, <&pinctrl1_can2>;
	status = "okay";
};

&can3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_can3>, <&pinctrl1_can3>;
	status = "okay";
};
