// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright 2019-2020 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

#include "fsl-s32-gen1.dtsi"
#include <dt-bindings/pinctrl/s32g275-pinctrl.h>

/ {
	chosen {
		linux,initrd-start = <0x84000000>;
		linux,initrd-end = <0x8A000000>;
	};

	sysclk: clk10000000 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <10000000>;
		clock-output-names = "sysclk";
	};

	virtio_block@39501000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x39501000 0x0 0x1000>;
		interrupts = <0 68 4>;
	};

	clks: clks@40038000 {
		compatible = "fsl,s32g275-clocking";
		reg = <0x0 0x40038000 0x0 0x3000>, /*armpll*/
		      <0x0 0x4003C000 0x0 0x3000>, /*periphpll*/
		      <0x0 0x40040000 0x0 0x3000>, /*accelpll*/
		      <0x0 0x40044000 0x0 0x3000>, /*ddrpll*/
		      <0x0 0x40054000 0x0 0x3000>, /*armdfs*/
		      <0x0 0x40058000 0x0 0x3000>; /*periphdfs*/
		#clock-cells = <1>;
	};

	mc_cgm2: mc_cgm2@44018000 {
		compatible = "fsl,s32gen1-mc_cgm2";
		reg = <0x0 0x44018000 0x0 0x3000>;
	};

	pfe: pfe@46080000 {
		compatible = "fsl,s32g274a-pfeng",
			     "fsl,s32g275-pfe";
		reg = <0x0 0x46000000 0x0 0x1000000>,	 /* PFE controller */
			  <0x0 0x4007ca00 0x0 0x4>,	 /* S32G274a syscon */
			  <0x0 0x83400000 0x0 0xc00000>; /* PFE DDR 12M */
		#address-cells = <1>;
		#size-cells = <0>;
		interrupt-parent = <&gic>;
		interrupts =  <0 190 1>, /* hif0 */
			      <0 191 1>, /* hif1 */
			      <0 192 1>, /* hif2 */
			      <0 193 1>, /* hif3 */
			      <0 194 1>, /* bmu */
			      <0 195 1>, /* nocpy */
			      <0 196 1>, /* upe/gpt */
			      <0 197 1>; /* safety */
		interrupt-names = "hif0", "hif1", "hif2", "hif3",
				  "bmu", "nocpy", "upegpt", "safety";
		clocks = <&clks S32GEN1_CLK_PFE_SYS>,
			 <&clks S32GEN1_CLK_PFE_PE>,
			 <&clks S32GEN1_CLK_XBAR>;
		clock-names = "pfe_sys", "pfe_pe", "xbar";
		firmware-name = "s32g_pfe_class.fw";
		/* EMAC 0 */
		pfe0_if: ethernet@0 {
			compatible = "fsl,pfeng-logif";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			reg = <0>;
			local-mac-address = [ 00 04 9F BE EF 00 ];
			fsl,pfeng-if-name = "pfe0";
			fsl,pfeng-emac-id = <0>; /* Phy IF (EMAC) id */
			pfe0_mdio: mdio@0 {
				compatible = "fsl,pfeng-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x1>;
			};
		};
		/* EMAC 1 */
		pfe1_if: ethernet@1 {
			compatible = "fsl,pfeng-logif";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			reg = <1>;
			clocks = <&clks S32GEN1_CLK_PFE_EMAC_1_TX>;
			clock-names = "tx";
			local-mac-address = [ 00 04 9F BE EF 01 ];
			fsl,pfeng-if-name = "pfe1";
			fsl,pfeng-emac-id = <1>; /* Phy IF (EMAC) id */
			pfe1_mdio: mdio@0 {
				compatible = "fsl,pfeng-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x1>;
			};
		};
		/* EMAC 2 */
		pfe2_if: ethernet@2 {
			compatible = "fsl,pfeng-logif";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			reg = <2>;
			clocks = <&clks S32GEN1_CLK_PFE_EMAC_2_TX>;
			clock-names = "tx";
			local-mac-address = [ 00 04 9F BE EF 02 ];
			fsl,pfeng-if-name = "pfe2";
			fsl,pfeng-emac-id = <2>; /* Phy IF (EMAC) id */
			pfe2_mdio: mdio@0 {
				compatible = "fsl,pfeng-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x1>;
			};
		};
	};

	siul2_0 {
		compatible = "simple-mfd";
		#address-cells = <2>;
		#size-cells = <2>;
		status = "okay";
			  /* MSCR 0-101 */
		ranges = <1 0 0x0 0x4009C240 0x0 0x198>,
			 /* IMCR range 512–595 */
			 <2 0 0x0 0x4009CA40 0x0 0x150>;
		pinctrl0: siul2-pinctrl0@4009C000 {
			compatible = "fsl,s32g275-siul2_0-pinctrl";
			#pinctrl-cells = <2>;
			reg = <0x1 0x0 0x0 0x198>,
			<0x2 0x0 0x0 0x150>;
			/* MSCR range */
			pins = <&pinctrl0 0 101>,
			/* IMCR range */
			<&pinctrl0 512 595>;
			status = "okay";
		};
		gpio0: siul2-gpio0 {
			compatible = "fsl,s32gen1-siul2-gpio";
			gpio-controller;
			#gpio-cells = <2>;
				/* GPIO 0-101 */
			gpio-ranges = <&pinctrl0 0 0 102>;
				/* Pad Data I/0 Registers */
			eirq-ranges =
				/* EIRQ[0] - EIRQ[10] */
				<&pinctrl0 0 19 11>,
				/* EIRQ[11] */
				<&pinctrl0 0 S32GEN1_INVALID_GPIO 1>,
				/* EIRQ[12] */
				<&pinctrl0 0 31 1>,
				/* EIRQ[13] - EIRQ[15] */
				<&pinctrl0 0 33 3>,
				/* EIRQ[16] - EIRQ[26] */
				<&pinctrl0 0 S32GEN1_INVALID_GPIO 11>,
				/* EIRQ[27] - EIRQ[31] */
				<&pinctrl0 0 36 5>;
				/* Pad Data I/0 Registers */
			regmap0 = <&opad0_regs>;
			regmap1 = <&ipad0_regs>;
			regmap2 = <&irq_regs>;
			interrupt-controller;
			interrupts = <0 210 4>;
			status = "okay";
		};
	};

	siul2_1 {
		compatible = "simple-mfd";
		#address-cells = <2>;
		#size-cells = <2>;
		status = "okay";

			  /* MSCR 112-190 */
		ranges = <1 0 0x0 0x44010400 0x0 0x13C>,
			 /* IMCR range 631-1023 */
			 <2 0 0x0 0x44010C1C 0x0 0x5E4>;

		pinctrl1: siul2-pinctrl1@44010000 {
			compatible = "fsl,s32g275-siul2_1-pinctrl";
			#pinctrl-cells = <2>;
			reg = <0x1 0x0 0x0 0x13C>,
			<0x2 0x0 0x0 0x5E4>;
			/* MSCR range */
			pins = <&pinctrl1 112 190>,
			/* IMCR range */
			<&pinctrl1 631 1023>;
			status = "okay";
		};
		/*
		 * Note gpio controller nodes are split into sections
		 * of contiguous GPIO numbering at this
		 * point in time, functions working with gpio chips
		 * assume this for many things.
		 */
		gpio1: siul2-gpio1 {
			compatible = "fsl,s32gen1-siul2-gpio";
			gpio-controller;
			#gpio-cells = <2>;
				/* GPIO 112-190 */
			gpio-ranges = <&pinctrl1 0 112 79>;
			eirq-ranges =
				/* EIRQ[0] - EIRQ[1] */
				<&pinctrl1 0 151 2>,
				/* EIRQ[2] - EIRQ[7] */
				<&pinctrl1 0 177 6>,
				/* EIRQ[8] */
				<&pinctrl1 0 154 1>,
				/* EIRQ[9] */
				<&pinctrl1 0 160 1>,
				/* EIRQ[10] */
				<&pinctrl1 0 165 1>,
				/* EIRQ[11] */
				<&pinctrl1 0 168 1>,
				/* EIRQ[12] - EIRQ[15] */
				<&pinctrl1 0 S32GEN1_INVALID_GPIO 4>,
				/* EIRQ[16] - EIRQ[22] */
				<&pinctrl1 0 184 7>,
				/* EIRQ[23] - EIRQ[25] */
				<&pinctrl1 0 113 3>,
				/* EIRQ[26] */
				<&pinctrl1 0 117 1>;
				/* Pad Data I/0 Registers */
			regmap0 = <&opad1_regs>;
			regmap1 = <&ipad1_regs>;
			regmap2 = <&irq_regs>;
			interrupt-controller;
			interrupts = <0 210 4>;
			status = "okay";
		};
	};
	irq_regs: siul2_reg@0x44010000 {
		compatible = "fsl,irq_reqs-s32gen1","syscon","simple-mfd";
		reg = <0x0 0x44010000 0x0 0x44>;
		little-endian;
	};
	opad0_regs: siul2_reg@0x4009D700 {
		compatible = "fsl,opad0_reqs-s32gen1","syscon","simple-mfd";
		reg = <0x0 0x4009D700 0x0 0x10>;
		big-endian;
	};
	ipad0_regs: siul2_reg@0x4009D740 {
		compatible = "fsl,ipad0_reqs-s32gen1","syscon","simple-mfd";
		reg = <0x0 0x4009D740 0x0 0x10>;
		big-endian;
	};
	opad1_regs: siul2_reg@0x4401170C {
		compatible = "fsl,opad0_reqs-s32gen1","syscon","simple-mfd";
		reg = <0x0 0x4401170C 0x0 0x14>;
		big-endian;
	};
	ipad1_regs: siul2_reg@0x4401174C {
		compatible = "fsl,ipad0_reqs-s32gen1","syscon","simple-mfd";
		reg = <0x0 0x4401174C 0x0 0x14>;
		big-endian;
	};

	usbmisc: usbmisc@44064200 {
		#index-cells = <1>;
		compatible = "fsl,s32g274a-usbmisc";
		reg = <0x0 0x44064200 0x0 0x200>;
	};

	usbotg: usb@44064000 {
		compatible = "fsl,s32g274a-usb";
		reg = <0x0 0x44064000 0x0 0x200>;
		interrupt-parent = <&gic>;
		interrupts = <0 211 4>, /* OTG Core */
		             <0 212 4>; /* OTG Wakeup */
		clocks = <&clks S32GEN1_CLK_XBAR_DIV4>,
		         <&clks S32GEN1_CLK_SIRC>;
		fsl,usbmisc = <&usbmisc 0>;
		ahb-burst-config = <0x0>;
		tx-burst-size-dword = <0x10>;
		rx-burst-size-dword = <0x10>;
		phy_type = "ulpi";
		dr_mode = "host";
		maximum-speed = "high-speed";
		status = "disabled";
	};
};

