/*
 * Copyright 2017-2018 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

#include <dt-bindings/clock/s32gen1-clock.h>

/memreserve/ 0x8000fff8 0x00010000;

/ {
	compatible = "arm,vexpress";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
	};


	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};
		cpu@100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};
		cpu@101 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x101>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};
	};

	clocks {
		#address-cells = <1>;
		#size-cells = <0>;

		fxosc {
			compatible = "fixed-clock";
			clock-frequency = <40000000>;
			#clock-cells = <0>;
		};
		firc {
			compatible = "fixed-clock";
			clock-frequency = <48000000>;
			#clock-cells = <0>;
		};
	};

	pmu {
		compatible = "arm,armv8-pmuv3";
		interrupts = <0 0x3c 0x4>,
			     <0 0x3d 0x4>,
			     <0 0x3e 0x4>,
			     <0 0x3f 0x4>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xf08>,
			     <1 14 0xf08>,
			     <1 11 0xf08>,
			     <1 10 0xf08>;
		clock-frequency = <10000000>;
	};

	mc_cgm0: mc_cgm0@40030000 {
		compatible = "fsl,s32gen1-mc_cgm0";
		reg = <0x0 0x40030000 0x0 0x3000>;
	};

	mc_cgm1: mc_cgm1@40034000 {
		compatible = "fsl,s32gen1-mc_cgm1";
		reg = <0x0 0x40034000 0x0 0x3000>;
	};

	mc_cgm5: mc_cgm5@40068000 {
		compatible = "fsl,s32gen1-mc_cgm5";
		reg = <0x0 0x40068000 0x0 0x3000>;
	};

	gic: interrupt-controller@50800000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		#address-cells = <2>;
		#size-cells = <2>;
		interrupt-controller;
		reg = <0 0x50800000 0 0x10000>,
		      <0 0x50880000 0 0x200000>,
		      <0 0x50400000 0 0x2000>,
		      <0 0x50410000 0 0x2000>,
		      <0 0x50420000 0 0x2000>;
		interrupts = <1 9 0xf04>;
	};

	stm0: stm@4011C000{
		compatible = "fsl,s32v234-stm";
		reg = <0x0 0x4011C000 0x0 0x3000>;
		interrupts= <0 24 4>;
		clocks = <&sysclk>;
		clock-names = "stm";
		cpu = <2>;
		status = "disabled";
	};

	stm1: stm@40120000{
		compatible = "fsl,s32v234-stm";
		reg = <0x0 0x40120000 0x0 0x3000>;
		interrupts= <0 25 4>;
		clocks = <&sysclk>;
		clock-names = "stm";
		cpu = <3>;
		status = "disabled";
	};

	pit0: pit@40188000{
		compatible = "fsl,s32v234-pit";
		reg = <0x0 0x40188000 0x0 0x3000>;
		interrupts= <0 53 4>;
		clocks = <&sysclk>;
		clock-names = "pit";
		cpu = <0>;
		status = "disabled";
	};

	uart0:serial@401C8000 {
		compatible = "fsl,s32-linflexuart";
		reg = <0x0 0x401C8000 0x0 0x3000>;
		interrupts = <0 82 1>;
		clocks = <&clks S32GEN1_CLK_LIN0_BAUD>,
			 <&clks S32GEN1_CLK_LIN0>;
		clock-names = "lin", "ipg";
	};

	uart1:serial@401CC000 {
		compatible = "fsl,s32-linflexuart";
		reg = <0x0 0x401CC000 0x0 0x3000>;
		interrupts = <0 83 1>;
		clocks = <&clks S32GEN1_CLK_LIN1_BAUD>,
			 <&clks S32GEN1_CLK_LIN1>;
		clock-names = "lin", "ipg";
	};

	pit1: pit@40288000{
		compatible = "fsl,s32v234-pit";
		reg = <0x0 0x40288000 0x0 0x3000>;
		interrupts= <0 54 4>;
		cpu = <1>;
		clocks = <&sysclk>;
		clock-names = "pit";
		status = "disabled";
	};

	uart2:serial@402BC000 {
		compatible = "fsl,s32-linflexuart";
		reg = <0x0 0x402BC000 0x0 0x3000>;
		interrupts = <0 84 1>;
		clocks = <&clks S32GEN1_CLK_LIN2_BAUD>,
			 <&clks S32GEN1_CLK_LIN2>;
		clock-names = "lin", "ipg";
	};

	edma0: dma-controller@40144000 {
		#dma-cells = <2>;
		compatible = "fsl,s32gen1-edma";
		reg = <0x0 0x40144000 0x0 0x24000>,
		      <0x0 0x4012C000 0x0 0x3000>,
		      <0x0 0x40130000 0x0 0x3000>;
		dma-channels = <32>;
		interrupts = <0 8 4>,
			     <0 9 4>,
			     <0 10 4>;
		interrupt-names = "edma-tx_0-15",
				  "edma-tx_16-31",
				  "edma-err";
		clock-names = "dmamux0", "dmamux1";
		clocks = <&sysclk>,
			 <&sysclk>;
		status = "disabled";
	};

	spi0: spi@401D4000 {
		compatible = "fsl,s32v234-dspi";
		reg = <0x0 0x401D4000 0x0 0x3000>;
		interrupts = <0 85 4>;
		clocks = <&sysclk>;
		clock-names = "dspi";
		spi-num-chipselects = <4>;
		bus-num = <0>;
		spi-cpol;
		spi-cpha;
		status = "disabled";
	};

	spi1: spi@401D8000 {
		compatible = "fsl,s32v234-dspi";
		reg = <0x0 0x401D8000 0x0 0x3000>;
		interrupts = <0 86 4>;
		clocks = <&sysclk>;
		clock-names = "dspi";
		spi-num-chipselects = <4>;
		bus-num = <1>;
		spi-cpol;
		spi-cpha;
		status = "disabled";
	};

	spi2: spi@401DC000 {
		compatible = "fsl,s32v234-dspi";
		reg = <0x0 0x401DC000 0x0 0x3000>;
		interrupts = <0 87 4>;
		clocks = <&sysclk>;
		clock-names = "dspi";
		spi-num-chipselects = <4>;
		bus-num = <2>;
		spi-cpol;
		spi-cpha;
		status = "disabled";
	};

	edma1: dma-controller@40244000 {
		#dma-cells = <2>;
		compatible = "fsl,s32gen1-edma";
		reg = <0x0 0x40244000 0x0 0x24000>,
		      <0x0 0x4022C000 0x0 0x3000>,
		      <0x0 0x40230000 0x0 0x3000>;
		dma-channels = <32>;
		interrupts = <0 11 4>,
			     <0 12 4>,
			     <0 13 4>;
		interrupt-names = "edma-tx_0-15",
				  "edma-tx_16-31",
				  "edma-err";
		clock-names = "dmamux0", "dmamux1";
		clocks = <&sysclk>,
			 <&sysclk>;
		status = "disabled";
	};

	spi3: spi@402C8000 {
		compatible = "fsl,s32v234-dspi";
		reg = <0x0 0x402C8000 0x0 0x3000>;
		interrupts = <0 88 4>;
		clocks = <&sysclk>;
		clock-names = "dspi";
		spi-num-chipselects = <4>;
		bus-num = <3>;
		spi-cpol;
		spi-cpha;
		status = "disabled";
	};

	spi4: spi@402CC000 {
		compatible = "fsl,s32v234-dspi";
		reg = <0x0 0x402CC000 0x0 0x3000>;
		interrupts = <0 89 4>;
		clocks = <&sysclk>;
		clock-names = "dspi";
		spi-num-chipselects = <4>;
		bus-num = <4>;
		spi-cpol;
		spi-cpha;
		status = "disabled";
	};

	spi5: spi@402D0000 {
		compatible = "fsl,s32v234-dspi";
		reg = <0x0 0x402D0000 0x0 0x3000>;
		interrupts = <0 90 4>;
		clocks = <&sysclk>;
		clock-names = "dspi";
		spi-num-chipselects = <4>;
		bus-num = <4>;
		spi-cpol;
		spi-cpha;
		status = "disabled";
	};

	memory_DDR0@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x40000000>;
	};

	memory_DDR1@c0000000 {
		device_type = "memory";
		reg = <0 0xc0000000 0 0x40000000>;
	};
};
