/*
 * Copyright 2017-2018 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "s32-gen1.dtsi"
/ {
	model = "Freescale S32R45X";
	compatible = "fsl,s32r45x-simu", "fsl,s32r45x",
				 "arm,vexpress,v2p-aarch64", "arm,vexpress";

	chosen {
		linux,initrd-start = <0x84000000>;
		linux,initrd-end = <0x86000000>;

	};

	sysclk: clk10000000 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <10000000>;
		clock-output-names = "sysclk";
	};

	virtio_block@39501000 {
		compatible = "virtio,mmio";
		reg = <0x0 0x39501000 0x0 0x1000>;
		interrupts = <0 68 4>;
	};

	clks: clks@40038000 {
		compatible = "fsl,s32r45x-clocking";
		reg = <0x0 0x40038000 0x0 0x3000>, /*armpll*/
		      <0x0 0x4003C000 0x0 0x3000>, /*periphpll*/
		      <0x0 0x40040000 0x0 0x3000>, /*accelpll*/
		      <0x0 0x40044000 0x0 0x3000>, /*ddrpll*/
		      <0x0 0x40048000 0x0 0x3000>, /*aurorapll*/
		      <0x0 0x40054000 0x0 0x3000>, /*armdfs*/
		      <0x0 0x40058000 0x0 0x3000>; /*periphdfs*/
		#clock-cells = <1>;
	};

	siul2_1 {
		compatible = "simple-mfd";
		#address-cells = <2>;
		#size-cells = <2>;

			  /* 32 EIRQs*/
		ranges = <0 0 0x0 0x4403C000 0x0 0xC4>,
			  /* PINCTRL */
			 <1 0 0x0 0x4403C240 0x0 0xA00>,
			  /* Pad Data Output Register */
			 <2 0 0x0 0x4403D300 0x0 0x90>,
			  /* Pad Data Input Register */
			 <3 0 0x0 0x4403D500 0x0 0x90>,
			  /* Parallel GPIO Pad Data
			     Out/Input Register */
			 <4 0 0x0 0x4403D700 0x0 0x54>;

		pinctrl1: siul2-pinctrl1@4403C000 {
			compatible =
				"fsl,s32v234-siul2-pinctrl";
			reg = <0x1 0x0 0x0 0xA00>;
			status = "disabled";
		};

		gpioeirq1: siul2-gpio1@4403C000 {
			compatible = "fsl,s32gen1-siul2-gpio";
			gpio-controller;
			#gpio-cells = <2>;
				/* GPIO 0-31 */
			gpio-ranges = <&pinctrl1 0 0 32>,
				/* EIRQ pins */
				<&pinctrl1 590 590 32>; //TODO
				/* Output pad */
			reg = <0x4 0x0 0x0 0x4>,
				/* Input Pad */
				<0x4 0x40 0x0 0x4>,
				/* Reserved */
				<0x2 0x0 0x0 0x1C>,
				<0x3 0x0 0x0 0x1C>,
				/* EIRQ */
				<0x0 0x0 0x0 0xC4>;
			interrupt-controller;
			interrupts = <0 237 4>;
			status = "disabled";
		};

		gpioother1: siul2-gpio1@4403C704 {
			compatible = "fsl,s32gen1-siul2-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl1 0 32 131>;
				/* Output pad */
			reg = <0x4 0x4 0x0 0x10>,
				/* Input Pad */
				<0x4 0x44 0x0 0x10>,
				/* Reserved */
				<0x2 0x1C 0x0 0x74>,
				<0x3 0x1C 0x0 0x74>;
			status = "disabled";
		};
	};
};



&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&can0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&can2 {
	status = "okay";
};

&can3 {
	status = "okay";
};

&stm0 {
	status = "okay";
};

&stm1 {
	status = "okay";
};

&swt3 {
	status = "okay";
};

&swt4 {
	status = "okay";
};

&swt5 {
	status = "okay";
};

&swt6 {
	status = "okay";
};

&pit0 {
	status = "okay";
};

&pit1 {
	status = "okay";
};

&edma0 {
	status = "okay";
};

&edma1 {
	status = "okay";
};

&spi0 {
	status = "okay";
};

&spi1 {
	status = "okay";
};

&spi2 {
	status = "okay";
};

&spi3 {
	status = "okay";
};

&spi4 {
	status = "okay";
};

&spi5 {
	status = "okay";
};
