/*
 * Copyright 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

#include "s32v234.dtsi"
/ {
	model = "Freescale S32V234";
	compatible = "fsl,s32v234-evb", "fsl,s32v234",
				 "arm,vexpress,v2p-aarch64", "arm,vexpress";

	chosen {
		bootargs = "console=ttyLF0,115200";
	};

	memory_DDR0@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x10000000>;
	};

	memory_DDR1@c0000000 {
		device_type = "memory";
		reg = <0 0xc0000000 0 0x10000000>;
	};
};

&cse3 {
	status = "okay";
};

&dcu0 {
	display = <&display>;
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dcu>;

	display: display@0 {
		bits-per-pixel = <32>;

		display-timings {
			native-mode = <&timing2>;

			timing0: hdmi-xga {
				clock-frequency = <12690000>;
				hactive = <1024>;
				vactive = <768>;
				vback-porch = <28>;
				vfront-porch = <1>;
				hback-porch = <176>;
				hfront-porch = <16>;
				hsync-len = <96>;
				vsync-len = <3>;
			};

			timing1: hdmi-wxga {
				clock-frequency = <13468000>;
				hactive = <1280>;
				vactive = <720>;
				vback-porch = <20>;
				vfront-porch = <5>;
				hback-porch = <220>;
				hfront-porch = <110>;
				hsync-len = <40>;
				vsync-len = <5>;
			};

			timing2: lvds-fhd {
				clock-frequency = <56000000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <30>;
				hfront-porch = <60>;
				vback-porch = <30>;
				vfront-porch = <3>;
				hsync-len = <60>;
				vsync-len = <3>;
			};
		};
	};
};

&edma {
	status = "okay";
};

&fdma {
	status = "okay";
};

&fec {
	status = "okay";
};

&h264decoder {
	status = "okay";
};

&h264_encoder {
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c0>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	hdmi: sii9022a@39 {
		compatible = "fsl,sii902x";
		reg = <0x39>;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&jpegdecoder {
	status = "okay";
};

&mipicsi0 {
	status = "okay";
};

&mipicsi1 {
	status = "okay";
};

&pit0 {
	status = "okay";
};

&pit1 {
	status = "okay";
};

&pcie {
	status = "okay";
};

&siul2 {
	status = "okay";
	s32v234-evb {
		pinctrl_usdhc0: usdhc0grp {
			fsl,pins = <
				S32V234_PAD_PK6__USDHC_CLK_OUT
				S32V234_PAD_PK6__USDHC_CLK_IN
				S32V234_PAD_PK7__USDHC_CMD_OUT
				S32V234_PAD_PK7__USDHC_CMD_IN
				S32V234_PAD_PK8__USDHC_DAT0_OUT
				S32V234_PAD_PK8__USDHC_DAT0_IN
				S32V234_PAD_PK9__USDHC_DAT1_OUT
				S32V234_PAD_PK9__USDHC_DAT1_IN
				S32V234_PAD_PK10__USDHC_DAT2_OUT
				S32V234_PAD_PK10__USDHC_DAT2_IN
				S32V234_PAD_PK11__USDHC_DAT3_OUT
				S32V234_PAD_PK11__USDHC_DAT3_IN
				S32V234_PAD_PK15__USDHC_DAT4_OUT
				S32V234_PAD_PK15__USDHC_DAT4_IN
				S32V234_PAD_PL0__USDHC_DAT5_OUT
				S32V234_PAD_PL0__USDHC_DAT5_IN
				S32V234_PAD_PL1__USDHC_DAT6_OUT
				S32V234_PAD_PL1__USDHC_DAT6_IN
				S32V234_PAD_PL2__USDHC_DAT7_OUT
				S32V234_PAD_PL2__USDHC_DAT7_IN
			>;
		};
		pinctrl_uart0: uart0grp {
			fsl,pins = <
				S32V234_PAD_PA12__UART0_TXD
				S32V234_PAD_PA11__UART0_RXD_OUT
				S32V234_PAD_PA11__UART0_RXD_IN
			>;
		};
		pinctrl_can0: can0grp {
			fsl,pins = <
				S32V234_PAD_PA2__CAN_FD0_TXD
				S32V234_PAD_PA3__CAN_FD0_RXD_OUT
				S32V234_PAD_PA3__CAN_FD0_RXD_IN
			>;
		};
		pinctrl_can1: can1grp {
			fsl,pins = <
				S32V234_PAD_PC10__CAN_FD1_TXD
				S32V234_PAD_PC11__CAN_FD1_RXD_OUT
				S32V234_PAD_PC11__CAN_FD1_RXD_IN
			>;
		};
		pinctrl_i2c0: i2c0grp {
			fsl,pins = <
				S32V234_PAD_PG3__I2C0_DATA_OUT
				S32V234_PAD_PG3__I2C0_DATA_IN
				S32V234_PAD_PG4__I2C0_SCLK_OUT
				S32V234_PAD_PG4__I2C0_SCLK_IN
			>;
		};
		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				S32V234_PAD_PG5__I2C1_DATA_OUT
				S32V234_PAD_PG5__I2C1_DATA_IN
				S32V234_PAD_PG6__I2C1_SCLK_OUT
				S32V234_PAD_PG6__I2C1_SCLK_IN
			>;
		};
		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				S32V234_PAD_PB3__I2C2_DATA_OUT
				S32V234_PAD_PB3__I2C2_DATA_IN
				S32V234_PAD_PB4__I2C2_SCLK_OUT
				S32V234_PAD_PB5__I2C2_SCLK_IN
			>;
		};
		pinctrl_enet: enetgrp {
			fsl,pins = <
				S32V234_PAD_PC13__MDC
				S32V234_PAD_PC14__MDIO_OUT
				S32v234_PAD_PC14__MDIO_IN
				S32V234_PAD_PC15__TXCLK_OUT
				S32V234_PAD_PC15__TXCLK_IN
				S32V234_PAD_PD0__RXCLK_OUT
				S32V234_PAD_PD0__RXCLK_IN
				S32V234_PAD_PD1__RX_D0_OUT
				S32V234_PAD_PD1__RX_D0_IN
				S32V234_PAD_PD2__RX_D1_OUT
				S32V234_PAD_PD2__RX_D1_IN
				S32V234_PAD_PD3__RX_D2_OUT
				S32V234_PAD_PD3__RX_D2_IN
				S32V234_PAD_PD4__RX_D3_OUT
				S32V234_PAD_PD4__RX_D3_IN
				S32V234_PAD_PD4__RX_DV_OUT
				S32V234_PAD_PD4__RX_DV_IN
				S32V234_PAD_PD7__TX_D0_OUT
				S32V234_PAD_PD8__TX_D1_OUT
				S32V234_PAD_PD9__TX_D2_OUT
				S32V234_PAD_PD10__TX_D3_OUT
				S32V234_PAD_PD11__TX_EN_OUT
			>;
		};

		pinctrl_dcu: dcugrp {
			fsl,pins = <
				S32V234_PAD_PH8__DCU_HSYNC_C1
				S32V234_PAD_PH9__DCU_VSYNC_C2
				S32V234_PAD_PH10__DCU_DE_C3
				S32V234_PAD_PH10__DCU_PCLK_D1
				S32V234_PAD_PH13__DCU_R0_D2
				S32V234_PAD_PH14__DCU_R1_D3
				S32V234_PAD_PH15__DCU_R2_D4
				S32V234_PAD_PJ0__DCU_R3_D5
				S32V234_PAD_PJ1__DCU_R4_D6
				S32V234_PAD_PJ2__DCU_R5_D7
				S32V234_PAD_PJ3__DCU_R6_D8
				S32V234_PAD_PJ4__DCU_R7_D9
				S32V234_PAD_PJ5__DCU_G0_D10
				S32V234_PAD_PJ6__DCU_G1_D11
				S32V234_PAD_PJ7__DCU_G2_D12
				S32V234_PAD_PJ8__DCU_G3_D13
				S32V234_PAD_PJ9__DCU_G4_D14
				S32V234_PAD_PJ10__DCU_G5_D15
				S32V234_PAD_PJ11__DCU_G6_D16
				S32V234_PAD_PJ12__DCU_G7_D17
				S32V234_PAD_PJ13__DCU_B0_D18
				S32V234_PAD_PJ14__DCU_B1_D19
				S32V234_PAD_PJ15__DCU_B2_D20
				S32V234_PAD_PK0__DCU_B3_D21
				S32V234_PAD_PK1__DCU_B4_D22
				S32V234_PAD_PK2__DCU_B5_D23
				S32V234_PAD_PK3__DCU_B6_D24
				S32V234_PAD_PK4__DCU_B7_D25
				>;
		};

		pinctrl_dspi0: dspi0grp {
			fsl,pins = <
				S32V234_PAD_PB8__SPI0_CS0_OUT
				S32V234_PAD_PB6__SPI0_SOUT_OUT
				S32V234_PAD_PB5__SPI0_SCK_OUT
				S32V234_PAD_PB7__SPI0_SIN_OUT
				S32V234_PAD_PB7__SPI0_SIN_IN
			>;
		};

		pinctrl_dspi3: dspi3grp {
			fsl,pins = <
				S32V234_PAD_PC4__SPI3_CS0_OUT
				S32V234_PAD_PC2__SPI3_SOUT_OUT
				S32V234_PAD_PC1__SPI3_SCK_OUT
				S32V234_PAD_PC3__SPI3_SIN_OUT
				S32V234_PAD_PC3__SPI3_SIN_IN
			>;
		};

		pinctrl_viulite0: viulite0grp {
			fsl,pins = <
				S32V234_PAD_PD13__VIU0_EN
				S32V234_PAD_PD13__VIU0_PCLK
				S32V234_PAD_PD14__VIU0_EN
				S32V234_PAD_PD14__VIU0_HSYNC
				S32V234_PAD_PD15__VIU0_EN
				S32V234_PAD_PD15__VIU0_VSYNC
				S32V234_PAD_PE0__VIU0_EN
				S32V234_PAD_PE0__VIU0_D8
				S32V234_PAD_PE1__VIU0_EN
				S32V234_PAD_PE1__VIU0_D9
				S32V234_PAD_PE2__VIU0_EN
				S32V234_PAD_PE2__VIU0_D10
				S32V234_PAD_PE3__VIU0_EN
				S32V234_PAD_PE3__VIU0_D11
				S32V234_PAD_PE4__VIU0_EN
				S32V234_PAD_PE4__VIU0_D12
				S32V234_PAD_PE5__VIU0_EN
				S32V234_PAD_PE5__VIU0_D13
				S32V234_PAD_PE6__VIU0_EN
				S32V234_PAD_PE6__VIU0_D14
				S32V234_PAD_PE7__VIU0_EN
				S32V234_PAD_PE7__VIU0_D15
				S32V234_PAD_PE8__VIU0_EN
				S32V234_PAD_PE8__VIU0_D16
				S32V234_PAD_PE9__VIU0_EN
				S32V234_PAD_PE9__VIU0_D17
				S32V234_PAD_PE10__VIU0_EN
				S32V234_PAD_PE10__VIU0_D18
				S32V234_PAD_PE11__VIU0_EN
				S32V234_PAD_PE11__VIU0_D19
				S32V234_PAD_PE12__VIU0_EN
				S32V234_PAD_PE12__VIU0_D20
				S32V234_PAD_PE13__VIU0_EN
				S32V234_PAD_PE13__VIU0_D21
				S32V234_PAD_PE14__VIU0_EN
				S32V234_PAD_PE14__VIU0_D22
				S32V234_PAD_PE15__VIU0_EN
				S32V234_PAD_PE15__VIU0_D23
				>;
		};

		pinctrl_viulite1: viulite1grp {
			fsl,pins = <
				S32V234_PAD_PF0__VIU1_EN
				S32V234_PAD_PF0__VIU1_PCLK
				S32V234_PAD_PF1__VIU1_EN
				S32V234_PAD_PF1__VIU1_HSYNC
				S32V234_PAD_PF2__VIU1_EN
				S32V234_PAD_PF2__VIU1_VSYNC
				S32V234_PAD_PF3__VIU_EN
				S32V234_PAD_PF3__VIU1_D8
				S32V234_PAD_PF4__VIU_EN
				S32V234_PAD_PF4__VIU1_D9
				S32V234_PAD_PF5__VIU_EN
				S32V234_PAD_PF5__VIU1_D10
				S32V234_PAD_PF6__VIU_EN
				S32V234_PAD_PF6__VIU1_D11
				S32V234_PAD_PF7__VIU1_EN
				S32V234_PAD_PF7__VIU1_D12
				S32V234_PAD_PF8__VIU1_EN
				S32V234_PAD_PF8__VIU1_D13
				S32V234_PAD_PF9__VIU1_EN
				S32V234_PAD_PF9__VIU1_D14
				S32V234_PAD_PF10__VIU1_EN
				S32V234_PAD_PF10__VIU1_D15
				S32V234_PAD_PF11__VIU1_EN
				S32V234_PAD_PF11__VIU1_D16
				S32V234_PAD_PF12__VIU1_EN
				S32V234_PAD_PF12__VIU1_D17
				S32V234_PAD_PF13__VIU1_EN
				S32V234_PAD_PF13__VIU1_D18
				S32V234_PAD_PF14__VIU1_EN
				S32V234_PAD_PF14__VIU1_D19
				S32V234_PAD_PF15__VIU1_EN
				S32V234_PAD_PF15__VIU1_D20
				S32V234_PAD_PG0__VIU1_EN
				S32V234_PAD_PG0__VIU1_D21
				S32V234_PAD_PG1__VIU1_EN
				S32V234_PAD_PG1__VIU1_D22
				S32V234_PAD_PG2__VIU1_EN
				S32V234_PAD_PG2__VIU1_D23
				>;
		};
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dspi0>;
	status = "okay";
};

&spi3 {
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dspi3>;
	status = "okay";

	/* This is an example entry to illustrate SPI device setup.
	 * To be hooked up to the expansion port SPI3 CS0 for testing.
	 */
	tja1145: tja1145@0 {
		compatible = "spidev";
		spi-max-frequency = <4000000>;
		reg = <0>;
	};
};

&swt0 {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart0>;
	status = "okay";
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can0>;
	status = "okay";
};

&uart1 {
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can1>;
	status = "okay";
};

&usdhc0 {
	no-1-8-V;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc0>;
	status = "okay";
};

&viulite0{
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_viulite0>;
	status = "okay";
};

&viulite1{
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_viulite1>;
	status = "okay";
};

&vseq {
	status = "okay";
};
