/*
 * Copyright 2015-2016 Freescale Semiconductor, Inc.
 * Copyright 2016-2017 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "s32v234-evb2016q4.dtsi"

&fec {
	phy-mode = "rgmii";
	phy-handle = <&phy0>;
	status = "okay";
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@3 {
			reg = <3>;
		};
		/* S32V234EVB, rev 29288, has 6 NXP TJA1102 PHYs.*/
		phy1: ethernet-phy@4 {
			reg = <4>;
			max-speed = <100>;
		};
		phy2: ethernet-phy@5 {
			reg = <5>;
			max-speed = <100>;
		};
		phy3: ethernet-phy@6 {
			reg = <6>;
			max-speed = <100>;
		};
		phy4: ethernet-phy@7 {
			reg = <7>;
			max-speed = <100>;
		};
		/*
		 * This assumes that a HW fix was done on S32V234EVB,
		 * rev 29288 in order to avoid the address conflict
		 * with Micrel PHY.
		 */
		phy5: ethernet-phy@10 {
			reg = <10>;
			max-speed = <100>;
		};
		phy6: ethernet-phy@11 {
			reg = <11>;
			max-speed = <100>;
		};
	};
};

&pinctrl {
	status = "okay";

	s32v234-evb {

		pinctrl_viulite0: viulite0grp {
			fsl,pins = <
				S32V234_PAD_PD13__VIU0_EN
				S32V234_PAD_PD13__VIU0_PCLK
				S32V234_PAD_PD14__VIU0_EN
				S32V234_PAD_PD14__VIU0_HSYNC
				S32V234_PAD_PD15__VIU0_EN
				S32V234_PAD_PD15__VIU0_VSYNC
				S32V234_PAD_PE0__VIU0_EN
				S32V234_PAD_PE0__VIU0_D8
				S32V234_PAD_PE1__VIU0_EN
				S32V234_PAD_PE1__VIU0_D9
				S32V234_PAD_PE2__VIU0_EN
				S32V234_PAD_PE2__VIU0_D10
				S32V234_PAD_PE3__VIU0_EN
				S32V234_PAD_PE3__VIU0_D11
				S32V234_PAD_PE4__VIU0_EN
				S32V234_PAD_PE4__VIU0_D12
				S32V234_PAD_PE5__VIU0_EN
				S32V234_PAD_PE5__VIU0_D13
				S32V234_PAD_PE6__VIU0_EN
				S32V234_PAD_PE6__VIU0_D14
				S32V234_PAD_PE7__VIU0_EN
				S32V234_PAD_PE7__VIU0_D15
				S32V234_PAD_PE8__VIU0_EN
				S32V234_PAD_PE8__VIU0_D16
				S32V234_PAD_PE9__VIU0_EN
				S32V234_PAD_PE9__VIU0_D17
				S32V234_PAD_PE10__VIU0_EN
				S32V234_PAD_PE10__VIU0_D18
				S32V234_PAD_PE11__VIU0_EN
				S32V234_PAD_PE11__VIU0_D19
				S32V234_PAD_PE12__VIU0_EN
				S32V234_PAD_PE12__VIU0_D20
				S32V234_PAD_PE13__VIU0_EN
				S32V234_PAD_PE13__VIU0_D21
				S32V234_PAD_PE14__VIU0_EN
				S32V234_PAD_PE14__VIU0_D22
				S32V234_PAD_PE15__VIU0_EN
				S32V234_PAD_PE15__VIU0_D23
				>;
		};

		pinctrl_viulite1: viulite1grp {
			fsl,pins = <
				S32V234_PAD_PF0__VIU1_EN
				S32V234_PAD_PF0__VIU1_PCLK
				S32V234_PAD_PF1__VIU1_EN
				S32V234_PAD_PF1__VIU1_HSYNC
				S32V234_PAD_PF2__VIU1_EN
				S32V234_PAD_PF2__VIU1_VSYNC
				S32V234_PAD_PF3__VIU_EN
				S32V234_PAD_PF3__VIU1_D8
				S32V234_PAD_PF4__VIU_EN
				S32V234_PAD_PF4__VIU1_D9
				S32V234_PAD_PF5__VIU_EN
				S32V234_PAD_PF5__VIU1_D10
				S32V234_PAD_PF6__VIU_EN
				S32V234_PAD_PF6__VIU1_D11
				S32V234_PAD_PF7__VIU1_EN
				S32V234_PAD_PF7__VIU1_D12
				S32V234_PAD_PF8__VIU1_EN
				S32V234_PAD_PF8__VIU1_D13
				S32V234_PAD_PF9__VIU1_EN
				S32V234_PAD_PF9__VIU1_D14
				S32V234_PAD_PF10__VIU1_EN
				S32V234_PAD_PF10__VIU1_D15
				S32V234_PAD_PF11__VIU1_EN
				S32V234_PAD_PF11__VIU1_D16
				S32V234_PAD_PF12__VIU1_EN
				S32V234_PAD_PF12__VIU1_D17
				S32V234_PAD_PF13__VIU1_EN
				S32V234_PAD_PF13__VIU1_D18
				S32V234_PAD_PF14__VIU1_EN
				S32V234_PAD_PF14__VIU1_D19
				S32V234_PAD_PF15__VIU1_EN
				S32V234_PAD_PF15__VIU1_D20
				S32V234_PAD_PG0__VIU1_EN
				S32V234_PAD_PG0__VIU1_D21
				S32V234_PAD_PG1__VIU1_EN
				S32V234_PAD_PG1__VIU1_D22
				S32V234_PAD_PG2__VIU1_EN
				S32V234_PAD_PG2__VIU1_D23
				>;
		};

	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	sja1105_0: sja1105@0 {
		compatible = "nxp,sja1105-switch-1-2";
		spi-max-frequency = <4000000>;
		spi-cpha;
		reg = <0>;
		port-0 {
			is-host = <1>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy =  <1>;
		};
		port-1 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "MII";
			null-phy =  <0>;
		};
		port-2 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "MII";
			null-phy = <0>;
		};
		port-3 {
			is-host = <0>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy = <0>;
		};
		port-4 {
			is-host = <0>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy = <0>;
		};
	};

	sja1105_1: sja1105@1 {
		compatible = "nxp,sja1105-switch-2-2";
		spi-max-frequency = <4000000>;
		spi-cpha;
		reg = <5>;
		port-0 {
			is-host = <1>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy =  <1>;
		};
		port-1 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "MII";
			null-phy =  <0>;
		};
		port-2 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "MII";
			null-phy = <0>;
		};
		port-3 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "MII";
			null-phy = <0>;
		};
		port-4 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "MII";
			null-phy = <0>;
		};
	};

	spidev04: spidev@4 {
		compatible = "spidev";
		spi-max-frequency = <4000000>;
		reg = <4>;
	};
};

&viulite0{
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_viulite0>;
	status = "okay";
};

&viulite1{
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_viulite1>;
	status = "okay";
};
