/*
 * Copyright 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "s32v234.dtsi"
/ {
	model = "Freescale S32V234";
	compatible = "fsl,s32v234-evb", "fsl,s32v234", "arm,vexpress,v2p-aarch64", "arm,vexpress";

	chosen {
		bootargs = "console=ttyAMA0";
		//bootargs = "root=/dev/ram rdinit=/bin/bash rw console=ttyAMA0 earlycon=pl011,0x40053000";
		linux,initrd-start = <0x90000000>;
		linux,initrd-end   = <0x900E3C95>;
	};

};

&dcu0 {
	display = <&display>;
	status = "okay";
	display: display@0 {
		bits-per-pixel = <32>;

		display-timings {
			native-mode = <&timing0>;

			timing0: nl4827hc19 {
				clock-frequency = <56000000>;
				hactive = <1920>;
				vactive = <1080>;
				hback-porch = <30>;
				hfront-porch = <60>;
				vback-porch = <30>;
				vfront-porch = <3>;
				hsync-len = <60>;
				vsync-len = <3>;
			};
		};
	};
};
&fec {
	phy-mode = "rgmii";
	phy-handle = <&phy1>;
	status = "okay";
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		/*
		phy0: ethernet-phy@1 {
			reg = <1>;
		};
		*/
		phy1: ethernet-phy@7 {
			reg = <7>;
		};
	};
};
&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c0>;
	status = "okay";
};
&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";
};
&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&siul2 {
	status = "okay";
	s32v234-evb {
		pinctrl_usdhc0: usdhc0grp {
			fsl,pins = <
				S32V234_PAD_PK6__USDHC_CLK_OUT
				S32V234_PAD_PK6__USDHC_CLK_IN
				S32V234_PAD_PK7__USDHC_CMD_OUT
				S32V234_PAD_PK7__USDHC_CMD_IN
				S32V234_PAD_PK8__USDHC_DAT0_OUT
				S32V234_PAD_PK8__USDHC_DAT0_IN
				S32V234_PAD_PK9__USDHC_DAT1_OUT
				S32V234_PAD_PK9__USDHC_DAT1_IN
				S32V234_PAD_PK10__USDHC_DAT2_OUT
				S32V234_PAD_PK10__USDHC_DAT2_IN
				S32V234_PAD_PK11__USDHC_DAT3_OUT
				S32V234_PAD_PK11__USDHC_DAT3_IN
				S32V234_PAD_PK15__USDHC_DAT4_OUT
				S32V234_PAD_PK15__USDHC_DAT4_IN
				S32V234_PAD_PL0__USDHC_DAT5_OUT
				S32V234_PAD_PL0__USDHC_DAT5_IN
				S32V234_PAD_PL1__USDHC_DAT6_OUT
				S32V234_PAD_PL1__USDHC_DAT6_IN
				S32V234_PAD_PL2__USDHC_DAT7_OUT
				S32V234_PAD_PL2__USDHC_DAT7_IN
			>;
		};
		pinctrl_uart0: uart0grp {
			fsl,pins = <
				S32V234_PAD_PA12__UART0_TXD
				S32V234_PAD_PA11__UART0_RXD_OUT
				S32V234_PAD_PA11__UART0_RXD_IN
			>;
		};
		pinctrl_i2c0: i2c0grp {
			fsl,pins = <
				S32V234_PAD_PG3__I2C0_DATA_OUT
				S32V234_PAD_PG3__I2C0_DATA_IN
				S32V234_PAD_PG4__I2C0_SCLK_OUT
				S32V234_PAD_PG4__I2C0_SCLK_IN
			>;
		};
		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				S32V234_PAD_PG5__I2C1_DATA_OUT
				S32V234_PAD_PG5__I2C1_DATA_IN
				S32V234_PAD_PG6__I2C1_SCLK_OUT
				S32V234_PAD_PG6__I2C1_SCLK_IN
			>;
		};
		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				S32V234_PAD_PB3__I2C2_DATA_OUT
				S32V234_PAD_PB3__I2C2_DATA_IN
				S32V234_PAD_PB4__I2C2_SCLK_OUT
				S32V234_PAD_PB5__I2C2_SCLK_IN
			>;
		};
		pinctrl_enet: enetgrp {
			fsl,pins = <
				S32V234_PAD_PC13__MDC
				S32V234_PAD_PC14__MDIO_OUT
				S32v234_PAD_PC14__MDIO_IN
				S32V234_PAD_PC15__TXCLK_OUT
				S32V234_PAD_PC15__TXCLK_IN
				S32V234_PAD_PD0__RXCLK_OUT
				S32V234_PAD_PD0__RXCLK_IN
				S32V234_PAD_PD1__RX_D0_OUT
				S32V234_PAD_PD1__RX_D0_IN
				S32V234_PAD_PD2__RX_D1_OUT
				S32V234_PAD_PD2__RX_D1_IN
				S32V234_PAD_PD3__RX_D2_OUT
				S32V234_PAD_PD3__RX_D2_IN
				S32V234_PAD_PD4__RX_D3_OUT
				S32V234_PAD_PD4__RX_D3_IN
				S32V234_PAD_PD4__RX_DV_OUT
				S32V234_PAD_PD4__RX_DV_IN
				S32V234_PAD_PD7__TX_D0_OUT
				S32V234_PAD_PD8__TX_D1_OUT
				S32V234_PAD_PD9__TX_D2_OUT
				S32V234_PAD_PD10__TX_D3_OUT
				S32V234_PAD_PD11__TX_EN_OUT
			>;
		};
	};
};

&swt0 {
	status = "okay";
};
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart0>;
	status = "okay";
};
&usdhc0 {
	no-1-8-V;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc0>;
	status = "okay";
};
&viulite0{
	status = "okay";
};
&viulite1{
	status = "okay";
};
&cse3 {
	status = "okay";
};
