/*
 * Copyright 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/ {
	compatible = "fsl,s32v234", "arm,vexpress,v2p-aarch64", "arm,vexpress";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart0;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,arm-v8";
			reg = <0x0 0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x8000fff8>;
		};
	};

	memory_DDR0@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x30000000>;
	};
/*
	memory_DDR1@c0000000 {
		device_type = "memory";
		reg = <0 0xc0000000 0 0x40000000>;
	};
*/
	gic: interrupt-controller@7d001000 {
		compatible = "arm,cortex-a15-gic", "arm,cortex-a9-gic";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg = <0 0x7d001000 0 0x1000>,
		      <0 0x7d002000 0 0x1000>,
		      <0 0x7d004000 0 0x2000>,
		      <0 0x7d006000 0 0x2000>;
		interrupts = <1 9 0xf04>;
	};

	cci@7d090000 {
		compatible = "arm,cci";
		reg = <0 0x7d090000 0 0x10000>;
		interrupts = <0 101 4>,
			     <0 102 4>,
			     <0 103 4>,
			     <0 104 4>,
			     <0 105 4>;
	};

	p9_smbclk: smbclk {
		/* Static memory controller clock */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "p9:smbclk";
	};

	v2m_oscclk2: oscclk2 {
		/* IO FPGA peripheral clock */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "v2m:oscclk2";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xf08>,
			     <1 14 0xf08>,
			     <1 11 0xf08>,
			     <1 10 0xf08>;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		interrupt-parent = <&gic>;
		ranges;

		aips0: aips-bus@40000000 {
			compatible = "fsl,aips-bus", "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			interrupt-parent = <&gic>;
			reg = <0x0 0x40000000 0x0 0x7D000>;
			ranges;

			/*
			 * TODO: Update the clocks when the clock framework is
			 * defined.
			 */
			swt0:swt@4000A000 {
				compatible = "fsl,s32v234-wdt", "fsl,sac58r-wdt";
				reg = <0x0 0x4000A000 0x0 0x1000>;
				clocks = <&v2m_oscclk2>;
				clock-names = "swt";
				status = "disabled";
			};

			uart0:serial@40053000 {
				compatible = "fsl,s32v234-linflexuart";
				reg = <0x0 0x40053000 0x0 0x1000>;
				interrupts = <0 59 4>;
				clocks = <&v2m_oscclk2>, <&p9_smbclk>;
				clock-names = "uartclk", "apb_pclk";
			};

			usdhc0: usdhc@4005D000 {
				compatible = "fsl,s32v234-usdhc", "fsl,sac85r-usdhc";
				reg = <0x0 0x4005D000 0x0 0x1000>;
				interrupts = <0 28 4>;
				/* Uncomment the bellow definition after clocks
				 * framework is updated */
				/* clocks = <&clks S32V234_CLK_SYS6>,
						<&clks S32V234_CLK_SYS6>,
						<&clks S32V234_CLK_SDHC>; */
				clock-names = "ipg", "ahb", "per";
				status = "disabled";
			};
		};

	};
		pcie: pcie@0x72000000 {
			compatible = "fsl,s32v234-pcie";
			reg = <0 0x72ffc000 0 0x4000>, <0 0x72f00000 0 0x80000>;
			reg-names = "dbi", "config";
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges = <0x81000000 0 0          0 0x72f80000 0 0x00010000 /* downstream I/O */
				  0x82000000 0 0x72000000 0 0x72000000 0 0x00f00000>; /* non-prefetchable memory */
			num-lanes = <1>;
			bus-range = <0x0 0xff>;
			interrupts = <0 120 4>;
			interrupt-names = "msi";
			#interrupt-cells = <1>;
			interrupt-map-mask = <0 0 0 0x7>;
			interrupt-map = <0 0 0 1 &gic 0 123 4>,	<0 0 0 2 &gic 0 122 4>,	<0 0 0 3 &gic 0 121 4>,	<0 0 0 4 &gic 0 120 4>;
			status = "okay";
		};
};

