/*
 * Copyright 2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "s32v234.dtsi"
/ {
	model = "Freescale S32V234";
	compatible = "fsl,s32v234-evb", "fsl,s32v234", "arm,vexpress,v2p-aarch64", "arm,vexpress";

	chosen {
		bootargs = "console=ttyAMA0";
		//bootargs = "root=/dev/ram rdinit=/bin/bash rw console=ttyAMA0 earlycon=pl011,0x40053000";
		linux,initrd-start = <0x90000000>;
		linux,initrd-end   = <0x900E3C95>;
	};

};

&swt0 {
	status = "okay";
};
&uart0 {
	status = "okay";
};
