/dts-v1/;
#include "s32v234.dtsi"
/ {
	model = "Freescale Treerunner S32V234";
	compatible = "arm,vexpress,v2p-aarch64", "arm,vexpress";

	chosen {
		bootargs = "console=ttyAMA0";
		//bootargs = "root=/dev/ram rdinit=/bin/bash rw console=ttyAMA0 earlycon=pl011,0x40053000";
		linux,initrd-start = <0x90000000>;
		linux,initrd-end   = <0x900E3C95>;
	};
	imx_serial0: uart@3b000000 {
				 compatible = "arm,pl011", "arm,primecell";
				 reg = <0x0 0x3b000000 0x0 0x1000>;
				 interrupts = <0 5 4>;
				 clocks = <&v2m_oscclk2>, <&p9_smbclk>;
				 clock-names = "uartclk", "apb_pclk";
				 status = "okey";
	 };

};
&swt0 {
	status = "okay";
};

