/*
 * Copyright 2015-2016 Freescale Semiconductor, Inc.
 * Copyright 2016 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "s32v234-evb2016q4.dtsi"

&fec {
	phy-mode = "rgmii";
	phy-handle = <&phy0>;
	status = "okay";
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@3 {
			reg = <3>;
		};
	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	sja1105_0: sja1105@0 {
		compatible = "nxp,sja1105-switch-1-3";
		spi-max-frequency = <4000000>;
		spi-cpha;
		reg = <0>;
		port-0 {
			is-host = <1>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy =  <1>;
		};
		port-1 {
			is-host = <0>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy =  <0>;
		};
		port-2 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy = <0>;
		};
		port-3 {
			is-host = <0>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy = <0>;
		};
		port-4 {
			is-host = <0>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy = <0>;
		};
	};

	sja1105_1: sja1105@1 {
		compatible = "nxp,sja1105-switch-2-3";
		spi-max-frequency = <4000000>;
		spi-cpha;
		reg = <5>;
		port-0 {
			is-host = <1>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy =  <1>;
		};
		port-1 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy =  <0>;
		};
		port-2 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy = <0>;
		};
		port-3 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy = <0>;
		};
		port-4 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy = <0>;
		};
	};

	sja1105_2: sja1105@2 {
		compatible = "nxp,sja1105-switch-3-3";
		spi-max-frequency = <4000000>;
		spi-cpha;
		reg = <4>;
		port-0 {
			is-host = <1>;
			speed = <1000>;
			xmii-mode = "RGMII";
			null-phy =  <1>;
		};
		port-1 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy =  <0>;
		};
		port-2 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy = <0>;
		};
		port-3 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy = <0>;
		};
		port-4 {
			is-host = <0>;
			speed = <100>;
			xmii-mode = "RMII";
			null-phy = <0>;
		};
	};
};
