config SND_SOC_QCOM
	tristate "ASoC support for QCOM platforms"
	depends on ARCH_QCOM || COMPILE_TEST
	help
          Say Y or M if you want to add support to use audio devices
          in Qualcomm Technologies SOC-based platforms.

config SND_SOC_LPASS_CPU
	tristate
	select REGMAP_MMIO

config SND_SOC_LPASS_PLATFORM
	tristate
	select REGMAP_MMIO

config SND_SOC_LPASS_IPQ806X
	tristate
	select SND_SOC_LPASS_CPU
	select SND_SOC_LPASS_PLATFORM

config SND_SOC_LPASS_APQ8016
	tristate
	select SND_SOC_LPASS_CPU
	select SND_SOC_LPASS_PLATFORM

config SND_SOC_STORM
	tristate "ASoC I2S support for Storm boards"
	depends on SND_SOC_QCOM
	select SND_SOC_LPASS_IPQ806X
	select SND_SOC_MAX98357A
	help
          Say Y or M if you want add support for SoC audio on the
          Qualcomm Technologies IPQ806X-based Storm board.

config SND_SOC_APQ8016_SBC
	tristate "SoC Audio support for APQ8016 SBC platforms"
	depends on SND_SOC_QCOM
	select SND_SOC_LPASS_APQ8016
	help
          Support for Qualcomm Technologies LPASS audio block in
          APQ8016 SOC-based systems.
          Say Y if you want to use audio devices on MI2S.

menu "QCOM QDSP Audio support"

config SND_MSM_DAI_SOC
	tristate

config SND_MSM_SOC
	tristate "SoC Audio for the MSM series chips"
	select SND_MSM_DAI_SOC
	select SND_MSM_SOC_MSM7K
	default n
	help
	  To add support for ALSA PCM driver for MSM board.

config SND_SOC_MSM_QDSP6_HDMI_AUDIO
	tristate "Soc QDSP6 HDMI Audio DAI driver"
	default n
	help
	 To support HDMI Audio on MSM8960 over QDSP6.

config SND_SOC_MSM_QDSP6_INTF
	bool "SoC Q6 audio driver for MSM8960"
	default n
	help
	 To add support for SoC audio on MSM8960.

config SND_SOC_MSM_QDSP6V2_INTF
	bool "SoC Q6 audio driver for MSM8974"
	help
	 To add support for SoC audio on MSM8974.
	 This will enable all the platform specific
	 interactions towards DSP. It includes asm,
	 adm and afe interfaces on the DSP.


config SND_SOC_QDSP6
	tristate "SoC ALSA audio driver for QDSP6"
	select SND_SOC_MSM_QDSP6_INTF
	default n
	help
	 To add support for MSM QDSP6 Soc Audio.

config SND_SOC_QDSP6V2
	tristate "SoC ALSA audio driver for QDSP6V2"
	select SND_SOC_MSM_QDSP6V2_INTF
	help
	 To add support for MSM QDSP6V2 Soc Audio.
	 This will enable sound soc platform specific
	 audio drivers. This includes q6asm, q6adm,
	 q6afe interfaces to DSP using apr.

config SND_SOC_MSM8960
	tristate "SoC Machine driver for MSM8960 and APQ8064 boards"
	select SND_SOC_QDSP6
	select SND_SOC_MSM_STUB
	select SND_SOC_MSM_HOSTLESS_PCM
	select SND_SOC_MSM_QDSP6_HDMI_AUDIO if FB_MSM_HDMI_MSM_PANEL
	default n
	help
	 To add support for SoC audio on MSM8960 and APQ8064 boards

endmenu
