#
# Copyright (c) 2020 Microsoft Corporation
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License version 2 as published by
# the Free Software Foundation.
#
KERNEL_DIR=kernel/msm-4.14
. ${ROOT_DIR}/${KERNEL_DIR}/build.config.common
UNSTRIPPED_MODULES="
wlan.ko
"
