#
# Touchscreen driver configuration
#
menuconfig INPUT_TOUCHSCREEN
	bool "Touchscreens"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_TOUCHSCREEN

source "drivers/input/touchscreen/synaptics_dsx/Kconfig"
source "drivers/input/touchscreen/synaptics_dsx_2.6/Kconfig"

config OF_TOUCHSCREEN
	def_tristate INPUT
	depends on INPUT && OF

...
...
config TOUCHSCREEN_HIMAX_CHIPSET
	bool "Himax touchpanel CHIPSET"
	depends on I2C
	help
	  Say Y here if you have a Himax CHIPSET touchscreen.
	  HIMAX controllers are multi touch controllers which can
	  report 10 touches at a time.

          If unsure, say N.
source "drivers/input/touchscreen/hxchipset/Kconfig"

endif
