# SPDX-License-Identifier: BSD-3-Clause

config CRYPTO_DEV_NXP_HSE
	tristate "NXP HSE crypto driver"
	depends on SOC_S32GEN1
	default m
	select CRYPTO_BLKCIPHER
	select CRYPTO_HASH
	help
	  Enables the driver module for NXP's Hardware Security Engine (HSE).

	  To compile this driver as a module, choose M here: the module
	  will be called nxp-hse.

config CRYPTO_DEV_NXP_HSE_MU_ID
	depends on CRYPTO_DEV_NXP_HSE
	int "Message Unit (MU) Instance: [0-3]"
	range 0 3
	default "0"
	help
	  The Message Unit (MU) Instance index used by HSE crypto driver.

config CRYPTO_DEV_NXP_HSE_AES_KEY_GID
	depends on CRYPTO_DEV_NXP_HSE
	int "AES Key Group ID within RAM Key Catalog: [0-256]"
	range 0 256
	default "1"
	help
	  The AES 256-bit Key Group ID within RAM Key Catalog.
