# SPDX-License-Identifier: BSD-3-Clause

config CRYPTO_DEV_NXP_HSE
	tristate "NXP HSE crypto driver"
	depends on SOC_S32GEN1
	default m
	select CRYPTO_HASH
	select CRYPTO_BLKCIPHER
	select CRYPTO_AEAD
	help
	  Enables the driver module for NXP's Hardware Security Engine (HSE).

config CRYPTO_DEV_NXP_HSE_MU_ID
	depends on CRYPTO_DEV_NXP_HSE
	int "Messaging Unit (MU) Instance: [0-3]"
	range 0 3
	default "0"
	help
	  The Messaging Unit (MU) Instance index used by HSE crypto driver.

config CRYPTO_DEV_NXP_HSE_HWRNG
	bool "NXP HSE hardware RNG support"
	depends on CRYPTO_DEV_NXP_HSE
	default y
	select HW_RANDOM
	help
	  Enables hardware RNG support for NXP's HSE.

config CRYPTO_DEV_NXP_HSE_KEY_WRAPPING
	bool "NXP key wrapping/blobbing support"
	depends on CRYPTO_DEV_NXP_HSE
	default n
	help
	  Enables NXP key wrapping/blobbing support.

config CRYPTO_DEV_NXP_HSE_AES_KEY_GID
	depends on CRYPTO_DEV_NXP_HSE
	int "AES Key Group ID within RAM Key Catalog: [0-256]"
	range 0 256
	default "1"
	help
	  The AES 256-bit Key Group ID within RAM Key Catalog.

config CRYPTO_DEV_NXP_HSE_AES_KEY_GSIZE
	depends on CRYPTO_DEV_NXP_HSE
	int "Number of AES Key Slots in AES Key Group: [0-256]"
	range 0 256
	default "20"
	help
	  Number of Key Slots available in the 256-bit AES Key Group.

config CRYPTO_DEV_NXP_HSE_HMAC_KEY_GID
	depends on CRYPTO_DEV_NXP_HSE
	int "HMAC Key Group ID within RAM Key Catalog: [0-256]"
	range 0 256
	default "2"
	help
	  The HMAC Key Group ID within RAM Key Catalog.

config CRYPTO_DEV_NXP_HSE_HMAC_KEY_GSIZE
	depends on CRYPTO_DEV_NXP_HSE
	int "Number of HMAC Key Slots in HMAC Key Group: [0-256]"
	range 0 256
	default "10"
	help
	  Number of Key Slots available in the HMAC Key Group.
