#
# Freescale SOC drivers
#

source "drivers/soc/fsl/qbman/Kconfig"
source "drivers/soc/fsl/qe/Kconfig"

config FSL_GUTS
	bool
	select SOC_BUS
	help
	  The global utilities block controls power management, I/O device
	  enabling, power-onreset(POR) configuration monitoring, alternate
	  function selection for multiplexed signals,and clock control.
	  This driver is to manage and access global utilities block.
	  Initially only reading SVR and registering soc device are supported.
	  Other guts accesses, such as reading RCW, should eventually be moved
	  into this driver as well.

menu "NXP SoC drivers"

config S32_DEBUG_REGACCESS
	bool "Userspace access to SoC registers"
	help
	  Enabling this option leads to the creation of entries in
	  /sys/kernel/s32_regaccess which can be used to read and write
	  SoC registers from userspace.

endmenu
