#
# FCCU device configuration
#

config FCCU_S32V234
	tristate "Fault Collection and Control Unit"
	depends on SOC_S32V234
	default y
	help
	  This is the driver for Fault Collection and Control Unit
	  on the Freescale/NXP S32V234 processor.
