/*
 * dts file for Hisilicon HiKey960 Development Board
 *
 * Copyright (C) 2016, Hisilicon Ltd.
 *
 */

/dts-v1/;

#include "hi3660.dtsi"
#include "hi3660-ion.dtsi"
#include "hikey960-pinctrl.dtsi"

/ {
	model = "HiKey960";
	compatible = "hisilicon,hi3660-hikey960", "hisilicon,hi3660";
	hisi,boardid = <5 3 0 0>;

	aliases {
		mshc2 = &dwmmc2;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;	/* console UART */
		serial6 = &uart6;
	};

	chosen {
		stdout-path = "serial5:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x00400000 0x0 0xBFE00000>;
	};

	soc {
		uart5: uart@fdf05000 {
			status = "ok";
		};
	};

	smmu {
		compatible = "hisi,hisi-smmu";
		phy_pgd_base = <0x0 0x34A78000>;
	};

	smmu_lpae{
		compatible = "hisi,hisi-smmu-lpae";
		status = "ok";
	};

	/* bluetooth - TI WL1835 */
	kim {
		compatible = "kim";
		pinctrl-names = "default";
		pinctrl-0 = <>; /* FIXME: add BT PCM pinctrl here */
		/*
		 * FIXME: The following is complete CRAP since
		 * the vendor driver doesn't follow the gpio
		 * binding. Passing in a magic Linux gpio number
		 * here until we fix the vendor driver.
		 */
		/* BT_EN: GPIO_126_BT_EN */
		nshutdown_gpio = <390>;
		dev_name = "/dev/ttyAMA4";
		flow_cntrl = <1>;
		/* baud_rate = <3000000>; */
		baud_rate = <115200>;
	};

	btwilink {
		compatible = "btwilink";
	};
};

&uart4 {
	status = "ok";
};

&dwmmc2 { /* WIFI */
	broken-cd;
	/* WL_EN */
	vmmc-supply = <&wlan_en_reg>;
	ti,non-removable;
	non-removable;
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	status = "ok";

	wlcore: wlcore@2 {
		compatible = "ti,wl1835";
		reg = <2>;      /* sdio func num */
		/* WL_IRQ, GPIO_179_WL_WAKEUP_AP */
		interrupt-parent = <&gpio22>;
		interrupts = <3 1>; /* IRQ_TYPE_EDGE_RISING */
	};
};
