/*
 * Hikey960 dummy energy cost model data.
 *
 * XXX - This is totally inaccurate and needs work!
 *       In fact, we've got the capacity/power tuples
 *	 inverted as for now we'd rather run on the big
 *       cpus and get the performance benefit.
 */


energy-costs {
	CPU_COST_A73: core-cost0 {
		busy-cost-data = <
			401   93
		>;
		idle-cost-data = <
			0
			0
		>;
	};
	CPU_COST_A53: core-cost1 {
		busy-cost-data = <
			1023   616
		>;
		idle-cost-data = <
			0
			0
		>;
	};
	CLUSTER_COST_A73: cluster-cost0 {
		busy-cost-data = <
			401   57
		>;
		idle-cost-data = <
			0
			0
		>;
	};
	CLUSTER_COST_A53: cluster-cost1 {
		busy-cost-data = <
			1023   64
		>;
		idle-cost-data = <
			0
			0
		>;
	};
};
