menuconfig ARCH_S32
	bool "Freescale S32 family" if ARCH_VEXPRESS
	help
	  Support for Freescale S32 family of processors

if ARCH_S32

config ARCH_S32_IOMUX
	bool "Enable S32 IOMUX"

menu "S32 SOC selection"
	config SOC_S32V234
		bool "S32V234 SOC"
endmenu
endif
