menuconfig ARCH_S32
	bool "Freescale S32 family" if ARCH_VEXPRESS
	select PINCTRL
	help
	  Support for Freescale S32 family of processors

if ARCH_S32

config ARCH_S32_CLK
	bool "Enable S32 CLK Framework"

config GALCORE_ANON_INODES
	bool "Support for anonymous inodes"
	select ANON_INODES

menu "S32 SOC selection"
	config SOC_S32V234
		bool "S32V234 SOC"
endmenu

if SOC_S32V234
menu "S32V234 execution target"

	config S32V234_EVB
		bool "S32V234 evb"

	config S32V234_PALLADIUM
		bool "S32V234 Palladium"

	config S32V234_PCIE
		bool "S32V234 pcie"
		help
			S32V234 pcie is a derivate of S32V234 platform which
			is designed to be connected to master board via PCI
			Express.

	config S32V234_SIMULATOR
		bool "S32V234 Synopsis Simulator"
endmenu
endif

endif
