menuconfig ARCH_S32
	bool "Freescale S32 family" if ARCH_VEXPRESS
	select PINCTRL
	help
	  Support for Freescale S32 family of processors

if ARCH_S32

config ARCH_S32_CLK
	bool "Enable S32 CLK Framework"

config GALCORE_ANON_INODES
	bool "Support for anonymous inodes"
	select ANON_INODES

menu "S32 SOC selection"
	config SOC_S32V234
		bool "S32V234 SOC"
endmenu

menu "STM timer used as system timer"
	config S32V234_STM_SYSTIMER
		bool "STM used as system timer"
	select FSL_STM_TIMER if S32V234_STM_SYSTIMER
	config STM_CLKSRC_RATE
		int "STM Rating for ClockSource"
		default 460
	config STM_CLKEVT_RATE
		int "STM Rating for ClockEvents"
		default 460
endmenu

menu "PIT timer used as system timer"
	config S32V234_PIT_SYSTIMER
		bool "PIT used as system timer"
	select VF_PIT_TIMER if S32V234_PIT_SYSTIMER
	config PIT_CLKSRC_RATE
		int "PIT Rating for ClockSource"
		default 460
	config PIT_CLKEVT_RATE
		int "PIT Rating for ClockEvents"
		default 460
endmenu

if SOC_S32V234
menu "S32V234 execution target"

	config S32V234_EVB
		bool "S32V234 evb"

	config S32V234_PALLADIUM
		bool "S32V234 Palladium"

	config S32V234_PCIE
		bool "S32V234 pcie"
		help
			S32V234 pcie is a derivate of S32V234 platform which
			is designed to be connected to master board via PCI
			Express.

	config S32V234_SIMULATOR
		bool "S32V234 Synopsis Simulator"

	config S32V234_TMDP
		bool "S32V234 tmdp"

endmenu
endif

endif
