menuconfig ARCH_S32X
	bool "Freescale S32VX family" if ARCH_VEXPRESS
	help
	  Support for Freescale S32X family of processors

if ARCH_S32X

config ARCH_S32X_IOMUX
	bool "Enable S32X IOMUX"

endif

#source "arch/arm64/mach-s32x/devices/Kconfig"

