/*
 * Support for CompuLab SBC-iMX7 Single Board Computer
 *
 * Copyright (C) 2015 CompuLab Ltd. - http://www.compulab.co.il/
 * Author: Ilya Ledvich <ilya@compulab.co.il>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 */

#include "imx7d-cl-som-imx7.dts"

/ {
	model = "CompuLab CL-SOM-iMX7 on SB-SOM";
	compatible = "compulab,sbc-imx7", "compulab,cl-som-imx7", "fsl,imx7d";

	aliases {
		lcdif = &lcdif;
		pcie = &pcie;
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm2 0 5000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		status = "okay";
	};

	/* Regulators */
	reg_dvi_en_3v3: dvi_en_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "dvi_en_3v3";
		gpio = <&pca9555_sb 13 0>;
		enable-active-high;
		regulator-always-on;
	};

	reg_lcd_nstby_3v3: lcd_nstby_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "lcd_nstby_3v3";
		gpio = <&pca9555_sb 14 0>;
		enable-active-high;
		regulator-always-on;
	};
	/* Regulators - end */
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	status = "okay";
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	pca9555_sb: pca9555_sb@20 {
		compatible = "nxp,pca9555";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
	};

	eeprom_sb@54 {
		compatible = "atmel,24c08";
		reg = <0x54>;
		pagesize = <16>;
	};

	dvicape@39 {
		compatible = "sil164_simple";
		reg = <0x39>;
	};
};

&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	display = <&display0>;
	status = "okay";

	display0: display {
		bits-per-pixel = <24>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;
			timing0: lcd {
				clock-frequency = <29580000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <16>;
				hback-porch = <1>;
				hsync-len = <80>;
				vback-porch = <13>;
				vfront-porch = <16>;
				vsync-len = <16>;

				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};

			timing1: dvi {
				/* 1024x768p60 */
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <220>;
				hfront-porch = <40>;
				vback-porch = <21>;
				vfront-porch = <7>;
				hsync-len = <60>;
				vsync-len = <10>;

				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};

&pcie {
	reset-gpio = <&pca9555_sb 1 GPIO_ACTIVE_LOW>;
	fsl,pcie-phy-refclk-internal;
	status = "okay";
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>;
	cd-gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
	wakeup-source;
	status = "okay";
};

&iomuxc {
	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX7D_PAD_I2C1_SCL__FLEXCAN1_RX		0x59
			MX7D_PAD_I2C1_SDA__FLEXCAN1_TX		0x59
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX7D_PAD_I2C3_SCL__FLEXCAN2_RX		0x59
			MX7D_PAD_I2C3_SDA__FLEXCAN2_TX		0x59
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX7D_PAD_GPIO1_IO11__I2C4_SDA		0x4000000f
			MX7D_PAD_GPIO1_IO10__I2C4_SCL		0x4000000f
		>;
	};

	pinctrl_lcdif_dat: lcdifdatgrp {
		fsl,pins = <
			MX7D_PAD_LCD_DATA00__LCD_DATA0		0x79
			MX7D_PAD_LCD_DATA01__LCD_DATA1		0x79
			MX7D_PAD_LCD_DATA02__LCD_DATA2		0x79
			MX7D_PAD_LCD_DATA03__LCD_DATA3		0x79
			MX7D_PAD_EPDC_DATA04__LCD_DATA4		0x79
			MX7D_PAD_EPDC_DATA05__LCD_DATA5		0x79
			MX7D_PAD_EPDC_DATA06__LCD_DATA6		0x79
			MX7D_PAD_EPDC_DATA07__LCD_DATA7		0x79
			MX7D_PAD_EPDC_DATA08__LCD_DATA8		0x79
			MX7D_PAD_EPDC_DATA09__LCD_DATA9		0x79
			MX7D_PAD_EPDC_DATA10__LCD_DATA10	0x79
			MX7D_PAD_EPDC_DATA11__LCD_DATA11	0x79
			MX7D_PAD_EPDC_DATA12__LCD_DATA12	0x79
			MX7D_PAD_EPDC_DATA13__LCD_DATA13	0x79
			MX7D_PAD_EPDC_DATA14__LCD_DATA14	0x79
			MX7D_PAD_EPDC_DATA15__LCD_DATA15	0x79
			MX7D_PAD_LCD_DATA16__LCD_DATA16		0x79
			MX7D_PAD_LCD_DATA17__LCD_DATA17		0x79
			MX7D_PAD_LCD_DATA18__LCD_DATA18		0x79
			MX7D_PAD_LCD_DATA19__LCD_DATA19		0x79
			MX7D_PAD_LCD_DATA20__LCD_DATA20		0x79
			MX7D_PAD_LCD_DATA21__LCD_DATA21		0x79
			MX7D_PAD_LCD_DATA22__LCD_DATA22		0x79
			MX7D_PAD_LCD_DATA23__LCD_DATA23		0x79
		>;
	};

	pinctrl_lcdif_ctrl: lcdifctrlgrp {
		fsl,pins = <
			MX7D_PAD_EPDC_DATA00__LCD_CLK		0x79
			MX7D_PAD_EPDC_DATA01__LCD_ENABLE	0x79
			MX7D_PAD_EPDC_DATA02__LCD_VSYNC		0x79
			MX7D_PAD_EPDC_DATA03__LCD_HSYNC		0x79
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX7D_PAD_SD1_CMD__SD1_CMD		0x59
			MX7D_PAD_SD1_CLK__SD1_CLK		0x19
			MX7D_PAD_SD1_DATA0__SD1_DATA0		0x59
			MX7D_PAD_SD1_DATA1__SD1_DATA1		0x59
			MX7D_PAD_SD1_DATA2__SD1_DATA2		0x59
			MX7D_PAD_SD1_DATA3__SD1_DATA3		0x59
			MX7D_PAD_SD1_CD_B__GPIO5_IO0		0x59 /* CD */
			MX7D_PAD_SD1_WP__GPIO5_IO1		0x59 /* WP */
		>;
	};
};

&iomuxc_lpsr {
	pinctrl_pwm2: pwm2grp {
		fsl,pins = <
			MX7D_PAD_GPIO1_IO02__PWM2_OUT		0x110b0
		>;
	};
};
