/*
 * Copyright 2014 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "sac58r.dtsi"

/ {
	model = "SAC58R EVB";
	compatible = "fsl,sac58r-evb", "fsl,sac58r";

	chosen {
		bootargs = "console=ttyLP4,115200 root=/dev/mmcblk0p2 rootwait rw";
	};

	memory {
		reg = <0x80000000 0x10000000>;
	};
};

&fec0 {
	phy-mode = "rmii";
	phy-reset-gpios = <&gpio11 13 1>; /* GPIO 365 */
	clocks = <&clks SAC58R_CLK_ENET>,
		<&clks SAC58R_CLK_ENET>,
		<&clks SAC58R_CLK_ENET_50M>;
	clock-names = "ipg", "ahb", "ptp";
	status = "okay";
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c3 {
	clock-frequency = <100000>;
	status = "okay";
};

&spi0 {
	spi-num-chipselects = <3>;
	bus-num = <0>;
	status = "okay";
};

&swt1 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&usdhc0 {
	status = "okay";
};

&usdhc1 {
	status = "okay";
};

&usdhc2 {
	status = "okay";
	bus-width = <8>;
};
